VITE_SUPABASE_URL=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImR1dXJiYXhzYXd2d3JoZG91ZnVsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODI2ODEyMTEsImV4cCI6MjA5ODI1NzIxMX0.0zGUUBS0rP8qPJIAWKBk6MABbYnaMXr-wyyGH6MeCY8
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImR1dXJiYXhzYXd2d3JoZG91ZnVsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODI2ODEyMTEsImV4cCI6MjA5ODI1NzIxMX0.0zGUUBS0rP8qPJIAWKBk6MABbYnaMXr-wyyGH6MeCY8
